<!doctype html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>{{{title}}}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Full Stack Developer based in Melbourne"/>
      <meta name="keywords" content="Full Stack, Developer, Melbourne, js, php, frontend, css, web"/>
      <meta name="google-site-verification" content="x8JcxAj255mpX9w4lVJSrMwwAiEwWaWNiS-GLcwkPzk"/>
      <meta property="og:title" content="Ezekiel Kigbo"/>
      <meta property="og:image" content="/dist/images/me-mt-dandenong-768.png"/>
      <meta property="og:description" content="Melbourne based Full Stack Developer"/>
      <!-- Place favicon.ico in the root directory -->
      <link rel="stylesheet" href="{{{styles}}}">
    </head>
    <body>
        <main>
          <header class="content-section">
            <section class="content">
              <div class="avatar">
                <div class="avatar-content">
                  <img src="/static/images/me-mt-dandenong-768.png" height="100%" width="auto" />
                </div>
              </div>
              <div class="headline">
                <h1>{{{headline}}}<br/>-</h1>
              </div>
            </section>
          </header>
          {{{body}}}
        </main>


        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-28194714-1','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
        <script type="application/ld+json">
          { "@context" : "http://schema.org",
            "@type" : "Person",
            "name" : "Ezekiel Kigbo",
            "url" : "http://eakigbo.me",
            "sameAs" : [
                "http://facebook.com/theatlasroom",
                "http://twitter.com/theatlasroom",
                "http://instagram.com/theatlasroom",
                "http://github.com/theatlasroom",
                "http://www.linkedin.com/in/theatlasroom",
                "http://theatlasroom.bandcamp.com",
                "http://soundcloud.com/theatlasroom",
                "https://medium.com/@theatlasroom",
                "http://stackoverflow.com/users/2490067/theatlasroom"
              ]
          }
        </script>
        <script src="{{{bundle}}}"></script>
    </body>
</html>
